.Footer {
  max-width: 120rem;
  margin: 0rem auto;
  padding: 0rem 2rem;
}

.FooterContent {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.FooterFlex {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}

.FooterInfo {
  display: flex;
  gap: 4rem;
}

.FooterInfoFlex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FooterInfoFlex div {
  width: fit-content;
}

.FooterInfoFlex h2 {
  color: white;
  font-size: 1.8rem;
}

.FooterIcon {
  padding: 0rem;
  width: fit-content;
}

.FooterIcon a {
  color: white;
  font-size: 2rem;
  transition: 0.3s;
}

.FooterIcon a:hover {
  color: rgb(106, 23, 23);
}

@media (max-width: 600px) {
  .FooterInfo {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .FooterFlex {
    flex-direction: column;
  }

  .FooterInfo {
    flex-direction: row;
  }
}
